## .NET build outputs
**/bin/
**/obj/
**/Build/

## IDE files
.vs/
.idea/
*.user
*.suo
*.userosscache

## Rider files
*.sln.iml
*.csproj.i
*.csproj.u
*.unityproj.i
*.unityproj.u

## NuGet
**/packages/
*.nupkg
.nuget/
nuget.exe

## Temporary files
_ReSharper.*
*.resharper
*.pidb
*.pdb
*.cache
